<!DOCTYPE html>
<html class="no-js" lang="zxx">

<head>
    <title>Parse | Blank</title>
    <!-- Favicon -->
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
    <link rel="icon" href="favicon.ico" type="image/x-icon" />
</head>

<style>
    .center {
      margin: 0;
      position: absolute;
      top: 50%;
      left: 50%;
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
    }
    </style>

<body>

    <div class="center">
        <h2>H2</h2>
        <button>Button</button>
      </div>
</body>