<!DOCTYPE html>
<html class="no-js" lang="zxx">

<head>
    <title>Parse | Contact and Support</title>
    <!-- Favicon -->
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
    <link rel="icon" href="favicon.ico" type="image/x-icon" />
</head>

<body>
    <!-- Goto TOP -->
    <div id="top-btn">
        <button class="btn top-btn"><i class="icofont-arrow-up"></i></button>
    </div>

    <!--HEADER PART START-->
    <header>
        <div class="header py-1">
            <div class="container">
    
                <li class="nav-item active">
                    <a class="nav-link" href="index.html">Home </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="about.html">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#courses">Courses</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="account.html">Account</a>
                </li>
    
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="help.html">Contact and Support</a>
                </li>
    
            </div>
        </div>
    </header>
    <!--HEADER PART END-->

    <!-- HERO SECTION START -->
    <div class="hero-section">
        <div class="bubble">
            <img src="img/bubble.png" alt="bubble-images " class="w-100 img-fluid" />
        </div>
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-12">
                    <div class="hero-sec-content">
                        <h1>Contact</h1>
                        <ul>
                            <li><a href="index.html">Home</a><i class="icofont-double-right"></i></li>
                            <li>
                                <a href="help.html"><span>Help and Support</span></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- HERO SECTION END -->

    <!-- RESERVATION FROM SECTION START -->
    <div class="reservation-form">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                    <div class="reservation-head text-center">
                        <h2>How may we Help you? <span>Fill out the Form Below</span></h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form">
                    <div class="col-xs-12 col-sm-12 col-md-10 col-lg-8 col-xl-8 m-auto">
                        <div class="personal">
                            <form action="#">
                                <div class="form-row custom-form">
                                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 mt-3">
                                        <label for="username">Username*</label>
                                        <input type="text" class="form-control reservation-input" id="name" name="name" placeholder="Malinesa Alikrith" />
                                    </div>
                                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 mt-3">
                                        <label for="email">Your Email*</label>
                                        <input type="email" class="form-control reservation-input" id="email" name="email" placeholder="support@gmail.com" />
                                    </div>
                                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 mt-3">
                                        <label for="address">address*</label>
                                        <input type="text" class="form-control reservation-input" id="address" name="address" placeholder="Lawrence, Michigan(MI), 49064" />
                                    </div>
                                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 mt-3">
                                        <label for="textarea">Describe the Problem?</label>
                                        <textarea class="form-control reservation-textarea" id="textarea" name="textarea" rows="3" placeholder="Type Here"></textarea>
                                    </div>
                                    <div class="col-12 text-center mt-5">
                                        <a href="#" class="submit-help">Book Now <i class="icofont-double-right"></i></a>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- RESERVATION FROM SECTION END -->
    <!--FOOTER TOP SECTION START-->
    <div class="footer-top">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
                    <div class="footer-top-content">
                        <div class="logo">
                            <img src="img/logo.png" class="w-100 img-fluid" alt="" />
                        </div>
                        <p>If you are going to use a passage of need to be sure there isn't anything hidden in the middle text.</p>
                        <span>If you are going to use a passage of need to be sure there isn't</span>
                        <ul class="social-icon-list">
                            <li>
                                <a href="#"><i class="icofont-facebook"></i></a>
                            </li>
                            <li class="social-icon custom-icon-pinterest">
                                <a href="#"><i class="icofont-pinterest"></i></a>
                            </li>
                            <li class="social-icon custom-icon-dribbble">
                                <a href="#"><i class="icofont-dribbble"></i></a>
                            </li>
                            <li class="social-icon custom-icon-twitter">
                                <a href="#"><i class="icofont-twitter"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3">
                    <div class="contact-content">
                        <h3>Contact Us</h3>
                        <img src="img/border.png" alt="" />
                        <div class="contact-info d-flex align-items-center">
                            <div class="icon"><i class="icofont-phone"></i></div>
                            <div class="info">
                                <a href="#">+880 659 468</a>
                                <a href="#">02 697 86456</a>
                            </div>
                        </div>
                        <div class="contact-info d-flex align-items-center">
                            <div class="icon"><i class="icofont-email"></i></div>
                            <div class="info">
                                <a href="#">support@gmail.com</a>
                                <a href="#">hotte24@gmail.com</a>
                            </div>
                        </div>
                        <div class="contact-info d-flex align-items-center">
                            <div class="icon"><i class="icofont-google-map"></i></div>
                            <div class="info">
                                <a href="#">855 Road, Brooklyn Street New York 600, Wisconsin(WI)</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--FOOTER TOP SECTION END-->

    <!--FOOTER BOTTOM START-->
    <div class="footer-bootom">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-7 col-lg-7 col-xl-7">
                    <div class="copyright-txt">
                        <p>Copyright 2023. All Rights Reserved.</p>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5 col-xl-5">
                    <div class="terms">
                        <span><a href="#">Terms & Conditions</a> | <a href="#">Privacy Policy</a></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--FOOTER BOTTOM END-->
</body>
</html>