{% load static %}
<!DOCTYPE html>
<html class="no-js" lang="zxx"><head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Parse | World of Wisdom</title>
    <!-- Favicon -->
    <link rel="shortcut icon" href="{% static 'Parse.ico' %}" type="image/x-icon">
    <link rel="icon" href="{% static 'Parse.ico' %}" type="image/x-icon">
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700;800&amp;family=Poppins:wght@300;400;500;600;700;800&amp;display=swap" rel="stylesheet">
    <!-- Icofont CSS -->
    <link rel="stylesheet" href={% static 'css/icofont.min.css' %}>
    <!-- Slick CSS -->
    <link rel="stylesheet" href={% static 'css/slick.css' %}>
    <link rel="stylesheet" href={% static 'css/slick-theme.css' %}>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href={% static 'css/bootstrap.min.css' %}>
    <!-- Venobox CSS -->
    <link rel="stylesheet" href={% static 'css/venobox.min.css' %}>
    <!-- Style CSS -->
    <link rel="stylesheet" href={% static 'css/style.css' %}>
    <!-- Responsive CSS -->
    <link rel="stylesheet" href={% static 'css/responsive.css' %}>
</head>
<body>
    <!-- Goto TOP -->
    <div id="top-btn">
        <button class="btn top-btn"><i class="icofont-arrow-up"></i></button>
    </div>
    <!-- Preloader -->
    <div class="preloader-wrap" style="display: none;">
        <div class="preloader">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
        </div>
    </div>

    <!--HEADER PART START-->
    <header>
        <div class="header py-1 sticky">
            <div class="container">
                <nav class="navbar navbar-expand-lg navbar-light px-0 py-0">
                    <a class="navbar-brand" href="/dashboard">
                        <div class="logo">
                            <img src="{% static 'images/logo.png' %}" class="w-100 img-fluid" alt="">
                        </div>
                    </a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <i class="icofont-navigation-menu"></i>
                    </button>

                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav navbar-custom">
                            <li class="nav-item active">
                                <a class="nav-link" href="/dashboard">Home </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/courses">Courses </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/about">About</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/account">Account</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/error">404 Page</a>
                            </li>
                        </ul>
                    </div>
                    
                </nav>
            </div>
        </div>
    </header>
    <!--HEADER PART END-->

    <!--HOME HERO SECTION START-->
    <div class="home-hero-section">
        <div class="container">
            <div class="row align-items-center">
                <div class="home-hero-content">
                    <h1>Regale in the <strong>World</strong> of <strong>Wisdom</strong> <span>Now!</span></h1>
                    <p>Eager to Learn?<span> <a href="#food-menu">Get started here!</a></span></p>
                    <a class="btn menu-btn" href="#food-menu">Our Courses <i class="icofont-double-right"></i></a>
                </div>
            </div>
        </div>
    </div>
    <!--HOME HERO SECTION END-->

    <!--SPECIAL SECTION START-->
    <div class="special-section">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-sm-12 col-md-5 col-lg-6 col-xl-6">
                    <div class="special-img">
                        <img src="{% static 'images/Python.png' %}" class="w-100" alt="">
                    </div>
                </div>
                <div class="col-sm-12 col-md-7 col-lg-6 col-xl-6">
                    <div class="special-content text-center">
                        <div class="donut-icon m-auto">
                            <img src="{% static 'images/Icon.png' %}" class="w-100" alt="">
                        </div>
                        <h2>
                            Our Most
                            <span>Popular</span>
                            Course
                        </h2>
                        <p>
                            <span> A popular and versatile programming language that has gained popularity in recent years, thanks to its simplicity and ease of use for beginners. it is used for a wide range of applications such as web development, data analysis, artificial intelligence, and machine learning.</span>
                        </p>
                        <div class="offer-info">
                            <div class="form-row justify-content-center align-items-center">
                                <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
                                    <a href="#" class="btn order-btn">Get Started!</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--SPECIAL SECTION END-->

    <!--HOME SERVICES SECTION START-->
    <div class="home-services-section">
        <div class="container">
            <div class="home-services">
                <div class="form-row">
                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 col-xl-4">
                        <div class="image-box clearfix">
                            <div class="image-text float-left">
                                <h2>Pick a Course</h2>
                                <p>Learn remotely, anytime, anywhere!</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 col-xl-4">
                        <div class="image-box clearfix">
                            <div class="image-text float-left">
                                <h2>Start Learning</h2>
                                <p>Experience a more interactive and engaging way of learning! </p>
                            </div>
                        </div>
                    </div>

                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 col-xl-4">
                        <div class="image-box clearfix">
                            <div class="image-text float-left">
                                <h2>Gain Wisdom!</h2>
                                <p>Understand and master new knowledge</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--HOME SERVICES SECTION END-->

    <!--OFFERED COURSES START-->
    <div class="food-menu-section" id="food-menu">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                    <div class="menu-head text-center">
                        <h2>Our Offered <span>Courses</span></h2>
                        <p>Pick any of the prepared Courses we've made and start today!</p>
                    </div>
                </div>
            </div>
            <div class="row food-box">
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-4">
                    <div class="food-menu text-center">
                        <div class="food-img-info">
                            <div class="food-img">
                                <img src="{% static 'images/Python.png' %}" class="w-100" alt="">
                            </div>
                            <div class="overlay text-left">
                                <span> Python is a versatile language that is commonly used for web development, data analysis, artificial intelligence, and machine learning. It is known for its readability, simplicity, and ease of use, making it a popular choice for beginners and experienced coders alike.</span>
                            </div>
                        </div>
                        <div class="food-informaion">
                            <div class="row align-items-center">
                                <div class="col-12"><h2>Python Programming</h2></div>
                                <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                                    <div class="food-info text-left">
                                        <span> Basic Programming</span>
                                    </div>
                                </div>
                                <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 text-right">
                                    <a href="/courses" class="btn order-btn2">Learn Now</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-4">
                    <div class="food-menu text-center">
                        <div class="food-img-info">
                            <div class="food-img">
                                <img src="{% static 'images/Physics.png' %}" class="w-100" alt="">
                            </div>
                            <div class="overlay text-left">
                                <h4>Not Available</h4>
                            </div>
                        </div>
                        <div class="food-informaion">
                            <div class="row align-items-center">
                                <div class="col-12"><h2>Physics</h2></div>
                                <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                                    <div class="food-info text-left">
                                        <span>To be Added</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-4">
                    <div class="food-menu text-center">
                        <div class="food-img-info">
                            <div class="food-img">
                                <img src="{% static 'images/Calculus.png' %}" class="w-100" alt="">
                            </div>
                            <div class="overlay text-left">
                                <h4>Not Available</h4>
                            </div>
                        </div>
                        <div class="food-informaion">
                            <div class="row align-items-center">
                                <div class="col-12"><h2>Calculus</h2></div>
                                <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                                    <div class="food-info text-left">
                                        <span>To be Added</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--OFFERED COURSES END-->

    <!--FOOTER TOP SECTION START-->
    <div class="footer-top">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
                    <div class="footer-top-content">
                        <div class="logo">
                            <img src="{% static 'images/logo.png' %}" class="w-100 img-fluid" alt="">
                        </div>
                        <p>Batangas State University - The National Engineering University, Alangilan Campus</p>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3">
                    <div class="contact-content">
                        <h3>Contact Us</h3>
                        <img src="{% static 'images/border.png' %}" alt="">
                        <div class="contact-info d-flex align-items-center">
                            <div class="icon"><i class="icofont-phone"></i></div>
                            <div class="info">
                                <a href="#">+123 456 789</a>
                                <a href="#">0912 345 6789</a>
                            </div>
                        </div>
                        <div class="contact-info d-flex align-items-center">
                            <div class="icon"><i class="icofont-email"></i></div>
                            <div class="info">
                                <a href="#">Parse.support@jauntlinktech.com</a>
                                <a href="#">Parse@jauntlinktech.com</a>
                            </div>
                        </div>
                        <div class="contact-info d-flex align-items-center">
                            <div class="icon"><i class="icofont-google-map"></i></div>
                            <div class="info">
                                <a href="#">Batangas State University - The National Engineering University, Alangilan Campus</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--FOOTER TOP SECTION END-->

    <!--FOOTER BOTTOM START-->
    <div class="footer-bootom">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-7 col-lg-7 col-xl-7">
                    <div class="copyright-txt">
                        <p>Copyright 2023. All Rights Reserved.</p>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5 col-xl-5">
                    <div class="terms">
                        <span><a href="#">Terms &amp; Conditions</a> | <a href="#">Privacy Policy</a></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--FOOTER BOTTOM END-->

    <!-- jQuery File-->
    <script src="{% static "javascript/jquery-3.5.1.min.js" %}"></script>
    <!-- Popper JS -->
    <script src="{% static "javascript/popper.min.js" %}"></script>
    <!-- Slick JS -->
    <script src="{% static "javascript/slick.min.js" %}"></script>
    <!-- Bootstrap JS -->
    <script src="{% static "javascript/bootstrap.min.js" %}"></script>
    <!-- Venobox JS -->
    <script src="{% static "javascript/venobox.min.js" %}"></script>
    <!-- main.js -->
    <script src="{% static "javascript/main.js" %}"></script>

    <script>
        $(".testimonial-slider").slick({
            autoplay: true,
            autoplaySpreed: 7000,
            arrows: true,
            prevArrow: '<i class="icofont-arrow-left"></i>',
            nextArrow: '<i class="icofont-arrow-right"></i>',
            responsive: [
            {
                breakpoint: 1024,
                settings: {
                    slidesToShow: 1,
                    slidesToScroll: 1,
                    infinite: true,
                },
            },
            {
                breakpoint: 600,
                settings: {
                    slidesToShow: 1,
                    slidesToScroll: 1,
                },
            },
            {
                breakpoint: 480,
                settings: {
                    slidesToShow: 1,
                    slidesToScroll: 1,
                },
            },
            ],
        });
    </script>

</body></html>