{% load static %}
<!DOCTYPE html>
<html style="font-size: 16px;" lang="zxx"><head>
  <link rel="stylesheet" href={%static "css/Q-ABC.css" %} media="screen">
{% include "header.html" %}
<br><br><br><br><br>

    <section class="u-clearfix u-section-1" id="sec-73fb">
      <div class="u-clearfix u-sheet u-sheet-1">
        <h1 class="u-align-center u-custom-font u-font-montserrat u-text u-text-default u-title u-text-1">Question 3</h1>
        <h2 class="u-align-center u-custom-font u-font-montserrat u-subtitle u-text u-text-default u-text-2">What is the output of the following code?<br></h2>
        <h2 class="u-align-left u-custom-font u-font-montserrat u-subtitle u-text u-text-default u-text-2"><code>var1 = 1<br>var2 = 2<br>var3 = "3"<br><br>print(var1 + var2 + var3)
        </code></h2>
      </div>
    </section>
    <section class="u-clearfix u-section-2" id="sec-f9ff">
      <div class="u-clearfix u-sheet u-sheet-1">
        <div class="u-border-2 u-border-grey-75 u-container-style u-group u-shape-rectangle u-group-1">
          <div class="u-container-layout u-container-layout-1">
            <a href="/python/Quiz/3-ans" class="u-border-none u-btn u-btn-round u-button-style u-custom-color-2 u-custom-font u-font-montserrat u-hover-palette-1-light-1 u-radius u-btn-1">Error: Mixing operators between<br>numbers and strings<br>are not supported</a>
            <a href="/python/Quiz/3-ans" class="u-border-none u-btn u-btn-round u-button-style u-custom-color-2 u-custom-font u-font-montserrat u-hover-palette-1-light-1 u-radius u-btn-2">6</a>
            <a href="/python/Quiz/3-ans" class="u-border-none u-btn u-btn-round u-button-style u-custom-color-2 u-custom-font u-font-montserrat u-hover-palette-1-light-1 u-radius u-btn-3">33</a>
          </div>
        </div>
      </div>
    </section>
</body></html>