{% load static %}
<!DOCTYPE html>
<html style="font-size: 16px;" lang="zxx"><head>
  <link rel="stylesheet" href={%static "css/Q-AB.css" %} media="screen">
{% include "header.html" %}
<br><br><br><br><br>

    <section class="u-clearfix u-section-1" id="sec-73fb">
      <div class="u-clearfix u-sheet u-sheet-1">
        <h1 class="u-align-center u-custom-font u-font-montserrat u-text u-text-default u-title u-text-1">Question 4</h1>
        <h2 class="u-align-center u-custom-font u-font-montserrat u-subtitle u-text u-text-default u-text-2">The in operator is used to check if a value exists within an iterable object container such as a list. Evaluate to True if it finds a variable in the specified sequence and False otherwise.</h2>
      </div>
    </section>
    <section class="u-clearfix u-section-2" id="sec-f9ff">
      <div class="u-clearfix u-sheet u-sheet-1">
        <div class="u-border-2 u-border-grey-75 u-container-style u-group u-shape-rectangle u-group-1">
          <div class="u-container-layout u-container-layout-1">
            <a href="/python/Quiz/4-ans" class="u-border-none u-btn u-btn-round u-button-style u-custom-color-2 u-custom-font u-font-montserrat u-hover-palette-1-light-1 u-radius u-btn-1">True</a>
            <a href="/python/Quiz/4-ans" class="u-border-none u-btn u-btn-round u-button-style u-custom-color-2 u-custom-font u-font-montserrat u-hover-palette-1-light-1 u-radius u-btn-2">False</a>
          </div>
        </div>
      </div>
    </section>
</body></html>