{% load static %}
<!DOCTYPE html>
<html style="font-size: 16px;" lang="zxx"><head>
  <link rel="stylesheet" href={%static "css/Q-ABC-ans.css" %} media="screen">
{% include "header.html" %}
<br><br><br><br><br>

    <section class="u-clearfix u-section-1" id="sec-73fb">
      <div class="u-clearfix u-sheet u-sheet-1">
        <h1 class="u-align-center u-custom-font u-font-montserrat u-text u-text-default u-title u-text-1">Question 8</h1>
        <h2 class="u-align-center u-custom-font u-font-montserrat u-subtitle u-text u-text-default u-text-2">What is the output of the following code?<br></h2>
        <h2 class="u-align-left u-custom-font u-font-montserrat u-subtitle u-text u-text-default u-text-2"><code>var = "Python" * 2  * 3<br>print(var)
        </code></h2>
      </div>
    </section>
    <section class="u-clearfix u-section-2" id="sec-f9ff">
      <div class="u-clearfix u-sheet u-sheet-1">
        <div class="u-border-2 u-border-grey-75 u-container-style u-group u-shape-rectangle u-group-1">
          <div class="u-container-layout u-container-layout-1">
            <a href="/python/Quiz/8-ans" class="u-border-none u-btn u-btn-round u-button-style u-custom-font u-font-montserrat u-hover-palette-2-light-2 u-palette-2-light-3 u-radius u-btn-1">PythonPython</a>
            <a href="/python/Quiz/8-ans" class="u-border-none u-btn u-btn-round u-button-style u-custom-font u-font-montserrat u-hover-palette-4-light-2 u-palette-4-light-3 u-radius u-btn-2">PythonPythonPython<br>PythonPythonPython</a>
            <a href="/python/Quiz/8-ans" class="u-border-none u-btn u-btn-round u-button-style u-custom-font u-font-montserrat u-hover-palette-2-light-2 u-palette-2-light-3 u-radius u-btn-3">Error: Invalid Syntax</a>
          </div>
        </div>
        <p class="u-align-center u-large-text u-text u-text-default u-text-variant u-text-1">We can use <code>*</code> operator to repeat the string an <code>n</code> number of times. For example, in the above question, First, we repeated the string <code>two</code> times, and again we repeated the output string <code>three</code> times.</p>
        <a href="/python/Quiz/9" class="u-border-none u-btn u-btn-round u-button-style u-custom-color-8 u-custom-font u-font-montserrat u-hover-palette-1-light-1 u-radius u-btn-4">Next</a>
      </div>
    </section>
</body></html>