{% load static %}
<!DOCTYPE html>
<html class="no-js" lang="zxx">

<head>
    <title>Parse | Quiz</title>
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
    <link rel="icon" href="favicon.ico" type="image/x-icon" />
</head>

<body>
<!-- QUIZ START -->
    <h3>Programming Quiz</h3>

    <div>
        <p>1: Which among the following codes is incorrect?</p>
        <button onclick="selectAnswer('A', 1)">
            <img src="{% static 'images/answers/Q1_A.png' %}" alt="A" height="200">
        </button>
        <button onclick="selectAnswer('B', 1)">
            <img src="{% static 'images/answers/Q1_B.png' %}" alt="B" height="100">
        </button>
        <button onclick="selectAnswer('C', 1)">
            <img src="{% static 'images/answers/Q1_C.png' %}" alt="C" height="200">
        </button>
    </div>

    <div>
        <p>2: Which part of the following code is incorrect? <img src="{% static 'images/answers/Q2.png' %}" /> </p>
        <button onclick="selectAnswer('A', 2)">
            <img src="{% static 'images/answers/Q2_A.png' %}" alt="A" width="100" height="100">
        </button>
        <button onclick="selectAnswer('B', 2)">
            <img src="{% static 'images/answers/Q2_B.png' %}" alt="B" width="100" height="100">
        </button>
        <button onclick="selectAnswer('C', 2)">
            <img src="{% static 'images/answers/Q2_C.png' %}" alt="C" width="100" height="100">
        </button>
        <button onclick="selectAnswer('D', 2)">
            <img src="{% static 'images/answers/Q2_D.png' %}" alt="D" width="100" height="100">
        </button>
    </div>

    <div>
        <p>3: If float = 2.13, then integer = _____.</p>
        <button onclick="selectAnswer('A', 3)">A. 1224.2003</button>
        <button onclick="selectAnswer('B', 3)">B. 1</button>
        <button onclick="selectAnswer('C', 3)">C. 3.00</button>
        <button onclick="selectAnswer('D', 3)">D. 420</button>
    </div>

    <div>
        <p>4: What is the output of the following Python code? <img src="{% static 'images/answers/Q4.png' %}" /> </p>
        <button onclick="selectAnswer('A', 3)">A. [1, 4, 9, 16, 25]</button>
        <button onclick="selectAnswer('B', 3)">B. [1, 2, 3, 4, 5]</button>
        <button onclick="selectAnswer('C', 3)">C. [0, 1, 4, 9, 16]</button>
        <button onclick="selectAnswer('D', 3)">D. [1, 8, 27, 64, 125]</button>
        </button>
    </div>

    <div>
        <p>5: If float = 2.13, then integer = _____.</p>
        <button onclick="selectAnswer('A', 3)">A. 1224.2003</button>
        <button onclick="selectAnswer('B', 3)">B. 1</button>
        <button onclick="selectAnswer('C', 3)">C. 3.00</button>
        <button onclick="selectAnswer('D', 3)">D. 420</button>
    </div>

    <div>
        <button class="btn submit-btn" onclick="submitAnswers()">Submit Answers</button>
    </div>

    <script>
        const selectedAnswers = [null, null, null];

        function selectAnswer(choice, questionNumber) {
            selectedAnswers[questionNumber - 1] = choice;
        }

        function submitAnswers() {
        }
    </script>

    {% if answersAreCorrect %}
        <h1>Congratulations! All answers are correct.</h1>
    {% else %}
        <h1>Oops! Some answers are incorrect.</h1>
    {% endif %}
<!-- QUIZ END -->
</body>

</html>